            @import "../style/blocks/var.scss";
            @import "..//style/blocks/main.scss";
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #00000000;
                height: 60px;
                &-logo {
                    color: #fff;
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 26px;
                }
                &-logo-color {
                    color: $main-color;
                }
                &-item {
                    display: flex;
                    gap: 20px;
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 26px;
                }
                &-list {
                    color: #fff;
                    list-style: none;
                    &:first-child {
                        color: $main-color;
                    }
                }
            }
            
            .promo {
                height: 530px;
                background-image: url("../photo/bck.png");
                background-color: #222222;
                filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 1.25));
                background-size: contain;
            }
            
            .promo-box {
                color: #fff;
                height: 530px;
                background-image: url("/photo/bck.am.png");
                background-repeat: no-repeat;
                background: none;
                background-position: 710px -150px;
                padding-top: 100px;
            }
            
            .promo-box :nth-child(1) {
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
            }
            
            .promo-box :nth-child(2) {
                font-weight: 800;
                font-size: 60px;
                line-height: 100px;
            }
            
            .promo-box :nth-child(3) {
                font-weight: 400;
                font-size: 36px;
                line-height: 47px;
                margin-bottom: 30px;
            }
            
            .promo-btn {
                width: 275px;
                height: 66px;
                background-image: url("/photo/bck.png");
                background-color: #222222;
                border: 1px solid $main-color;
                border-radius: 20px;
                color: #fff;
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
            }
            
            .fa-solid {
                color: $main-color;
                background-color: #fff;
            }
            
            .categories {
                background-color: #fff;
            }
            
            .produsct {
                background-color: #fff;
            }
            
            .features {
                background-color: #222224;
                color: #fff;
            }
            
            .feedback {
                background-color: #fff;
            }
            
            .footer {
                background-color: #222222;
                color: #fff;
            }